<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ShAir Pine</title>
  
	<!-- Pinocchio related styles -->
	<link rel="stylesheet" href="/custom.css">
	<!-- <link rel="stylesheet" href="https://pino-sdk.vercel.app/css/core.css"> -->
  
	<style>
	body {
		background-color: #0e0e0e;
		color: #ffffff;
		display: flex;
		height:100vh;
		justify-content: center;
		align-items: center;
	}
	</style>
</head>
<body id="frame-body" class="px-6">
	<section class="code-section h-[80vh]" >
	<div style="border: 1px solid #ff0000;background-color:#ff0a0a11;display:flex;justify-content:center;align-items:center;" class="code-edit w-[90vw] relative rounded-lg bg-gray-800 p-3 h-full">
	<h3>Not found</h3>
	</div>
	</section>
</body>
</html>
